<div class="col-md-8 col-lg-9 col-xl-7 main-wrap">
  <%= render partial: '/navigation', locals: {discipline: @lecture.msu_discipline, lecture: @lecture} %>
  <main>
    <h1 style="margin-bottom: 30px;">
      <%= @lecture.title %>
    </h1>

    <div class="nav-wrap">
      <% if @lecture.prev %>
        <%= link_to l_id_path(discipline_id: @lecture.msu_discipline.id, id: @lecture.prev.id),
            class: "book-botton blue-shadow",
            title: "#{@lecture.prev.title}" do %>
        <%= octicon "chevron-left",
            width: 32,
            height: 32,
            "aria-label": "Предыдущая лекция" %>
        <% end %>
      <% end %>

      <% if @lecture.next %>
        <%= link_to l_id_path(discipline_id: @lecture.msu_discipline.id, id: @lecture.next.id),
            class: "book-botton blue-shadow ml-auto",
            title: "#{@lecture.next.title}" do %>
        <%= octicon "chevron-right",
            width: 32,
            height: 32,
            "aria-label": "Следующая лекция" %>
        <% end %>
      <% end %>
    </div>

    <div id="lecture_content"
         style="margin-top: 50px">
      <%= @lecture.content %>
    </div>
  </main>

</div>


<script>
  $(document).ready(function(){
  //   $('#lecture_content').html(marked("<%= j @lecture.content %>"));

    var text = "<%= j @lecture.content %>",
        target = document.getElementById('lecture_content'),
        converter = new showdown.Converter({
          headerLevelStart: 3,
          simpleLineBreaks: true
        }),
        html = converter.makeHtml(text);

    target.innerHTML = html;

    $('p').each(function(){
      var alt = $(this).children('img').attr('alt');
      if (alt) {
        $(this).append("<div class='img-caption'>" + alt + "</div>");
      }
    });
  });
</script>
