<% if @lecture.prev %>
  <%= link_to l_id_path(discipline_id: @lecture.msu_discipline.id, id: @lecture.prev.id) do %>
  prev
  <% end %>
<% end %>

<% if @lecture.next %>
  <%= link_to l_id_path(discipline_id: @lecture.msu_discipline.id, id: @lecture.next.id) do %>
  next
  <% end %>
<% end %>

<% if @lecture.msu_presentations.any? %>
  <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer; display: flex;    left: 80px;    position: absolute;    flex-direction: column;     align-items: center; top: 170px; fill: #007cbe; color: #007cbe;">
    <%= octicon "file-media",
        width: 36,
        height: 36,
        "aria-label": "Файлы" %>
    <div>
      Файлы
    </div>
  </div>
  <div class="dropdown-menu dropdown-menu-left">
    <div class="card-body">
      <div class="presentations">
        <%= render partial: '/presentations/presentations',
        object: @lecture.msu_presentations %>
      </div>
    </div>
  </div>
<% end %>

<div class="col-md-8 col-lg-9 col-xl-7", style="max-width: 680px; margin: 100px 0 0 200px;">
  <h1 style="margin-bottom: 30px;">
    <%= @lecture.title %>
  </h1>
  <div id="lecture_content"
       class="">
    <%= @lecture.content %>
  </div>
</div>

<script>
  $(document).ready(function(){
  //   $('#lecture_content').html(marked("<%= j @lecture.content %>"));

    var text = "<%= j @lecture.content %>",
        target = document.getElementById('lecture_content'),
        converter = new showdown.Converter({
          headerLevelStart: 3,
          simpleLineBreaks: true
        }),
        html = converter.makeHtml(text);

    target.innerHTML = html;

    $('p').each(function(){
      var alt = $(this).children('img').attr('alt');
      if (alt) {
        $(this).append("<div class='img-caption'>" + alt + "</div>");
      }
    });
  });
</script>
