<div class="row menu border-bottom justify-content-center">
  <%= link_to admin_path, class: "menu-link menu-link-#{current_controller?('static_pages')}" do %>
    <div>
      MSU Admin
    </div>
  <% end %>

  <%= link_to [:admin, :msu_disciplines],
            class: "menu-link menu-link-#{current_controller?('msu_disciplines')}" do %>
    <div>
      Дисциплины
    </div>
  <% end %>

  <%= link_to [:admin, :msu_lectures],
              class: "menu-link menu-link-#{current_controller?('msu_lectures')}" do %>
      <div>
        Лекции
      </div>
  <% end %>

  <%= link_to [:admin, :msu_presentations],
              class: "menu-link menu-link-#{current_controller?('msu_presentations')}" do %>
      <div>
        Презентации
      </div>
  <% end %>
</div>

  <!-- <ul class="nav">
    <li class="nav-item">
      <%= link_to 'MSU-admin', admin_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Дисциплины', [:admin, :msu_disciplines], class: "nav-link #{current_controller?('msu_disciplines')}" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Все лекции', [:admin, :msu_lectures], class: "nav-link #{current_controller?('msu_lectures')}" %>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Презентации</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Видеоуроки</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Книги</a>
    </li>
  </ul> -->
