<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">

      <%= form_for [:admin, @lecture.msu_discipline, @lecture] do |f| %>

        <div class="row pt-5">
          <h1>
            <%= f.text_area :title,
                class: 'col lecture-name-input',
                placeholder: 'Здесь название лекции',
                autofocus: true,
                'data-autoresize': true %>
          </h1>
        </div>

        <div class="row">
          <div class="col text-secondary text-right mb-3">
            <%= @lecture.msu_discipline.title %>
          </div>
        </div>

        <div class="row">
          <div class="col bring-to-front">
            <%= f.text_area :content,
                id: "content_editor" %>
          </div>
        </div>

        <div class="row pb-5 justify-content-center">
          <div class="col">
            <%= f.submit  class: "btn btn-outline-primary btn-block" %>
          </div>
        </div>

      <% end %>
    </div>

    <div class="col-3 my-5">
      <div class="my-3 border-top border-bottom">
        <div class="my-3">
          <%= form_for [:admin, @lecture], remote: true,
              class: "dropzone", id: "lecture-images-dropzone"  do |f| %>
            <%= f.file_field :images, multiple: true %>
            <% param_name = :images %>
            <%= f.submit "Добавить изображения"%>
          <% end %>
        </div>
        <% if @lecture.images.any? %>
          <div class="text-secondary text-center my-3">
            Изображения
          </div>
          <%= @lecture.images %>
          <% @lecture.images.each do |i| %>
            <div class="image">
              <%= i.identifier %>
              <br>
              <%= i.url %>
            </div>
          <% end %>
        <% else %>
          <div class="text-secondary text-center my-3">
            У этой лекции нет изображений
          </div>
        <% end %>
      </div>
  </div>
</div>

<script>
  var simplemde = new SimpleMDE({
    element: $("#content_editor")[0],
    spellChecker: false
    });

  jQuery.each(jQuery('textarea[data-autoresize]'), function() {
      var offset = this.offsetHeight - this.clientHeight;
      var resizeTextarea = function(el) {
          jQuery(el).css('height', 'auto').css('height', el.scrollHeight + offset);
      };
      jQuery(this).on('keyup input', function() { resizeTextarea(this); }).removeAttr('data-autoresize');
  });

  // "lectureImagesDropzone" is the camelized version of the HTML element's ID
  Dropzone.options.lectureImagesDropzone = {
    paramName: "<%= param_name %>", // The name that will be used to transfer the file
    maxFilesize: 2, // MB
    accept: function(file, done) {
      if (file.name == "justinbieber.jpg") {
        done("Naha, you don't.");
      }
      else { done(); }
    }
  };
</script>
