<div class="row lecture justify-content-center my-4" id="lecture-<%= lecture.id %>">
      <%= link_to [:admin, lecture.msu_discipline, lecture],
        class: "col-8",
        style: "word-wrap:break-word; display: flex; flex-direction: column; justify-content: space-between; height: inherit;" do %>
          <div class="title my-3">
            <h5><%= lecture.title %></h5>
          </div>
          <!-- Даты -->
          <div class="text-secondary">
            <div class="row my-2">
              <p class="col-6">Дата создания:</p><p class="col-6"> <%= lecture.created_at.strftime("%A, %d, %B, %Y, %R") %></p>
            </div>
            <div class="row my-2">
              <p class="col-6">Последнее изменение:</p><p class="col-6"> <%= lecture.updated_at.strftime("%A, %d, %B, %Y, %H:%M")%></p>
            </div>
          </div>
        <% end %>
    <div class="col-4 ">

        <div class="row my-3 justify-content-between mw-100">
          <div class="my-auto">
            Отображать на сайте
          </div>
          <%= link_to admin_toggle_lecture_path(lecture.id), remote: true do %>
            <label class="switch my-auto">
              <input type="checkbox" id="toggleLecture-<%= lecture.id %>" <%= lecture.visible ? 'checked' : '' %>>
              <span class="slider round"></span>
            </label>
          <% end %>
        </div>

        <%= link_to [:edit, :admin, lecture.msu_discipline, lecture],
            class: "row my-3 mw-100" do %>
          <button type="button" class="btn btn-outline-secondary btn-block" >
            Редактировать
          </button>
        <% end %>

        <%= link_to [:admin, lecture.msu_discipline, lecture],
            class: "row my-3 mw-100",
            method: :delete,
            data: { confirm: 'Are you sure?' },
            remote: true do %>
          <button type="button" class="btn btn-outline-danger btn-block align-self-center">
            Удалить
          </button>
        <% end %>

      </div>

</div>
