<div class="row justify-content-center my-4", id="lecture-<%= lecture.id %>">
  <div class="col-12 row lecture">
    <%= link_to [:admin, lecture.msu_discipline, lecture],
        class: "col-8 align-self-center py-5" do %>
      <div style="word-wrap:break-word;">
        <h5><%= lecture.title %></h5>
      </div>
    <% end %>
    <div class="col-4 align-self-center">

        <div class="row my-3">
          <%= link_to [:edit, :admin, lecture.msu_discipline, lecture] do %>
            <button type="button" class="btn btn-outline-secondary btn-block" >
              Редактировать
            </button>
          <% end %>
        </div>

        <div class="row my-3">
          <%= link_to [:admin, lecture.msu_discipline, lecture],
              method: :delete,
              data: { confirm: 'Are you sure?' },
              remote: true do %>
            <button type="button" class="btn btn-outline-danger btn-block align-self-center">
              <%= octicon "trashcan",
                  height: 18,
                  "aria-label": "Добавить дисциплину" %>Удалить
            </button>
          <% end %>
        </div>

      </div>
  </div>
</div>
