
<div class="row border-top discipline align-middle" id="discipline-<%= discipline.id %>">
  <%= link_to [:admin, discipline],
              class: "col-10 py-2 align-self-center discipline-name",
              remote: true do %>
    <p id="discipline-<%= discipline.id %>-name"> <%= discipline.title %></p>
  <% end %>

  <%= link_to [:edit, :admin, discipline],
      remote: true,
      class: "col-2 discipline-button d-flex align-items-center justify-content-center" do %>

    <%= octicon "pencil",
        :height => 16,
        class: "button-icon",
        :"aria-label" => "Добавить дисциплину" %>

  <% end %>

    <!-- <div class="row">

      <div class="col-6">
        <%= link_to [:admin, discipline], method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
          <button type="button" class="btn btn-outline-danger btn-block">Удалить</button>
        <% end %>
      </div>

    </div> -->

</div>
