<% content_for :title do %>
  <title><%= @discipline.title %> | MSUniversity</title>
<% end %>

<div class="row">

  <div class="col-md-2 border-right discipline-menu">
    <%= render partial: '/admin/msu_disciplines/disciplines_menu' %>
  </div>

  <div class="col-md-5" id="discipline-content">
    <%= render partial: '/admin/msu_disciplines/msu_discipline',
          locals: {discipline: @discipline} %>
  </div>
  <div class="col-md-5 lecture-preview">
  </div>
</div>

<div id="new_discipline_form"></div>

<%= content_for :page_scripts do %>
  <script>
    $(".discipline").removeClass("discipline-active");
    $("#discipline-<%= @discipline.id %>").addClass("discipline-active");
  </script>
<% end %>
