<% content_for :title do %>
  <title><%= @discipline.title %> | MSUniversity</title>
<% end %>

<% content_for :header do %>

  <div class="col-8">
    <h2><%= @discipline.title %> </h2>
  </div>

  <div class="col-4 align-self-center">
    <%= link_to [:new, :admin, @discipline, :msu_lecture] do %>
      <button type="button" class="btn btn-outline-primary btn-block">
        Добавить лекцию
      </button>
    <% end %>
  </div>

<%	 end %>


<!-- Lections here -->

<div id="lectures">
  <% if @lectures.any? %>
    <% @lectures.each do |d| %>
      <%= render partial: '/admin/msu_lectures/lecture', object: d %>
    <% end %>
  <% else %>
    <%= render partial: '/empty' %>
  <% end %>
</div>
