<<<<<<< HEAD
<nav class="logos-wrapper">
  <%= link_to root_path,
      class: "msu-logo" do %>
    <%= render partial: "/msuni_logo" %>
  <% end %>
</nav>
=======
<nav class="logos-wrapper">
  <%= link_to root_path,
      class: "msu-logo" do %>
    <%= render partial: "/msuni_logo" %>
  <% end %>
  <%= link_to 'https://www.mirea.ru/',
      target: '_blank',
      class: 'uni-logo' do %>
    <%= image_tag 'uni_logo_bw.png', height: '48px' %>
  <% end %>
</nav>
>>>>>>> 220d06b6803adca9ac4a758f526f498d5fb898dd
