<nav class="client-menu">
  <div class="logos" style="display: flex; width: 25%;max-height: 100%;">
    <%= link_to 'https://www.mirea.ru/',
        target: '_blank',
        class: 'uni-logo' do %>
      <%= image_tag 'uni_logo.png', height: '48px' %>
    <% end %>
    <%= link_to root_path,
        class: "msu-logo" do %>
      <!-- <%= image_tag 'msuniversity.svg', width: '100%' %> -->
      <%= render partial: "/msuni_logo" %>
    <% end %>

  </div>
  <!-- <div class="search" style="display: flex">
    <%= octicon "search",
        height: 24,
        width: 24,
        class: "button-icon mx-auto" %>
  </div> -->
  <!-- <%= link_to root_path,
      class:"discipline-center" do %>
      <% if @d_title %>
      <div class="discipline-name">
        <%= @d_title %>
      </div>
      <div class="disciplines-text">
        Дисциплины
      </div>
      <% else %>
      <div style="text-align: center">
        Выберите дисцилину
      </div>
      <% end %>
  <% end %> -->
</nav>
