<!DOCTYPE html>
<html>
  <head>

    <%= yield :title %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>
  <div class="container-fluid">

    <% if flash.any? %>
      <% flash.each do |key, message| %>
        <%= render partial: 'admin/alert',
                 locals: {key: key, message: message} %>
      <% end %>
    <% end %>

    <div class="menu">
      <% if admin? %>
        <%= render partial: '/admin/menu' %>
      <% end %>
    </div>

    <%= yield %>
    <div class="row footer">
      <%= yield :footer %>
    </div>
  </div>

    <script>
      $('document').ready(function() {
        setTimeout(function() {
          $('#flash').remove();
          <% flash.discard %>
        }, 3000);
      });
    </script>

    <%= yield :page_scripts %>
  </body>
</html>
